<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- First we consider whether the incoming URL matches a physical file in the /build directory -->
    <rewrite>
      <rules>
        <rule name="Handle History Mode and hash mode" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <!-- Don't serve directories and never cache Node.js modules -->
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
</configuration>